name: PR Validate

on:
  pull_request:
  workflow_dispatch: {}

jobs:
  build:
    name: Build hello-world OCI image
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v6.0.1

    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3.7.0

    - name: Generate snapshot date
      id: snapshot-date
      run: |
        echo "date=$(date -u +%Y%m%d)" >> $GITHUB_OUTPUT
      shell: bash

    - uses: sigstore/cosign-installer@v4.0.0

    - uses: chainguard-dev/actions/melange-build@v1.5.10
      with:
        sign-with-temporary-key: true
        signing-key-path: melange.rsa
        config: melange.yaml
        archs: x86_64,aarch64,armv7

    - uses: chainguard-images/actions/apko-build@v1.0.11
      with:
        config: apko.yaml
        tag: hello-world:${{ steps.snapshot-date.outputs.date }}
        keyring-append: melange.rsa.pub
        archs: x86_64,aarch64,armv7
        source-date-epoch: ${{ steps.snapshot-date.outputs.epoch }}

    - name: Load image
      run: |
        docker load < output.tar

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@0.33.1
      with:
        image-ref: hello-world:${{ steps.snapshot-date.outputs.date }}
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'
        format: 'sarif'
        output: 'trivy-results.sarif'

    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v4.31.9
      with:
        sarif_file: 'trivy-results.sarif'

    - uses: actions/upload-artifact@v6
      with:
        name: hello-world.tar
        path: ./output.tar